:root {
  --youtube-red: #ff0000;
  --youtube-black: #282828;
}

.header {
  display: grid;
  grid-template-columns: 40px repeat(3, 1fr);
  height: 60px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  color: var(--youtube-red);
}

.logo__text {
  color: var(--youtube-black);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin-left: 2px;
}

.logo__countryCode {
  align-self: baseline;
  font-size: 0.6rem;
}

.search__form {
  display: grid;
  grid-template-columns: 1fr 40px;
}

.search__text {
  outline: none;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
